body {
    margin: auto;
    max-width: 1020px;
}

.container {
    margin: auto;
    max-width: 940px;
}

.main-form-contacts {
    height: 649px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote-title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: Lato-Black, Verdana, sans-serif;
    margin: 0;
    padding: 71px 0 28px 0;
    letter-spacing: -0.2px;
}

.quote-description {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: Lato-Light, Verdana, sans-serif;
    margin: 0;
    padding: 0 0 43px 0;
    text-align: justify;
}

.layout-2-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}

.form__input {
    height: 36px;
    background-color: #d6564f;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 16px; 
}

.textarea {
    height: 200px;
    resize: none;
}

.form__submit {
    font-family: Lato-Bold, Verdana, sans-serif;
    background-color: firebrick;
    color:#f0d8d9;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    margin: auto;
}

.form__submit:hover {
    cursor: pointer;
    background-color: teal;
}

.form__submit:active {
    cursor: pointer;
    background-color: red;
}

.form__input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: Lato-Regular, Verdana, sans-serif;
    padding-left: 15px;
}

.textarea::placeholder {
    padding: 7px 0 0 13px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.contact-info__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: Lato-Black, Verdana, sans-serif;
    margin: 0;
    padding-top: 2px;
}

.contact-info__description {
    padding: 9px 0 21px 0;
    letter-spacing: -0.2px;
}

.contact-info__text {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: Lato-Regular, Verdana, sans-serif;
    text-decoration: none;
    text-align: justify;
    margin: 0;
}

.icon-description {
    margin-left: 8px;
}

.icon-location {
    width: 7px;
    height: 11px;
    padding-left: 4px;
}

.icon-phone {
    width: 11px;
    height: 11px;
    padding-left: 1px;
}

.icon-mail { 
    width: 12px;
    height: 8px;
}

.footer {
    background-color: #2d303a;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.copyright {
    font-size: 12px;
    line-height: 18px;
    color: #5e657e;
    font-family: Lato-Light, Verdana, sans-serif;
    margin: 0;
    padding-bottom: 3px;
}

.icons-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 152px;
}

.icon {
    width: 15px;
    height: 15px;
}

.icon-container {
    width: 15px;
    height: 15px;
    border: 1px solid #6a718c;
    border-radius: 50%;
    padding: 8px;
}

.icon-container:hover {
    cursor: pointer;
    background-color: teal;
}

.icon-container:active {
    cursor: pointer;
    background-color: red;
}
   
@font-face {
    font-family: Lato-Black;
    src: url(assets/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(assets/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(assets/Lato-Regular.ttf);    
}